html {
    font-size: 14px;
    height: 100%;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Focus */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* ----- BODY ----- */
body {
    margin-bottom: 60px;
    height: 100%;
    font-family: "Times New Roman", serif !important;
}

/* Si quieres agregar un ligero filtro transparente encima del fondo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.4); /* cambia opacidad si quieres */
    z-index: -1;
}

/* ----- MAIN ocupa toda la pantalla ----- */
main {
    min-height: calc(100vh - 150px);
}
